body {
  background: lime;
}

img {
  width: 500px;
  border: solid 5px white;
}

.box {
  background-color: white;
  padding: 10px;
  width: 550px;
  border-radius: 15%;
  overflow: hidden;
  -webkit-animation: frames 1s cubic-bezier(0.57, 0.04, 0.5, 1) 0s infinite alternate;
  animation: frames 1s cubic-bezier(0.57, 0.04, 0.5, 1) 0s infinite alternate;
}

@keyframes frames {
  0% {
    background-color: yellow;
    color: red;
    -webkit-transform: rotate(0deg) translate(0px, 0px);
    -ms-transform: rotate(0deg) translate(0px, 0px);
    transform: rotate(0deg) translate(0px, 0px);
  }
  100% {
    background-color: red;
    color: yellow;
    -webkit-transform: rotate(-30deg) translate(400px, 400px);
    -ms-transform: rotate(-30deg) translate(400px, 400px);
    transform: rotate(-30deg) translate(400px, 400px);
  }
}
